<!DOCTYPE html>
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table border="1">
<caption>게시물 리스트</caption>
<tr>
	<td colspan="5">현재페이지:[[${pg}]] / 전체페이지수:[[${pageCount}]]</td>
</tr>
<tr>
	<th>번호</th>
	<th>제목</th>
	<th>작성자</th>
	<th>작성일</th>
	<th>조회수</th>
</tr>
<tr th:each="dto,st: ${list}">
	<td th:text="${recordCount - st.index - ((pg - 1) * pageSize)}" />
	<td><a th:href="@{ {no}/(no=${dto.no},vn=${recordCount - st.index - ((pg - 1) * pageSize)})}">[[${dto.title}]]</a></td>
	<td th:text="${dto.name}" />
	<td th:text="${#calendars.format(dto.regdate, 'yyyy-MM-dd')}" /></td>
	<td th:text="${dto.readcount}" />
</tr>
<tr th:if="${pageCount != 0}">
	<td colspan="5">
		<span th:if="${startPage != 1}">
			[<a th:href="@{../{sp}/(sp=${startPage-1})}">이전블럭</a>]
		</span>
		
		<span th:each="p: ${#numbers.sequence(startPage,endPage)}">
			<span th:if="${p != pg}">
				<a th:href="@{../{p}/(p=${p})}">[[${p}]]</a>
			</span>
			<span th:if="${p == pg}">
				[[${p}]]
			</span>
		</span>

		<span th:if="${endPage != pageCount}">
			[<a th:href="@{../{sp}/(sp=${endPage+1})}">다음블럭</a>]
		</span>
	</td>
</tr>
</table><br/>
<a href="insert">글쓰기</a>
</body>
</html>
